body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #70c5ce;
}

canvas {
    border: 1px solid #000;
}

#gameCanvas {
    background-color: #87CEEB;
    /* Sky blue background */
}

.frog {
    width: 40px;
    height: 40px;
    background-color: green;
    position: absolute;
}

.lilyPad {
    width: 60px;
    height: 20px;
    background-color: #228B22;
    /* Forest green */
    position: absolute;
    border-radius: 50%;
}

#frog {
    background-color: purple;
    width: 20px;
    height: 20px;
}

#lilyPad {
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}