body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
    background: #000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;
    padding: 0;
}

button,
.pause-screen,
.end-game-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.pause-screen,
.end-game-screen {
    display: none;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: default;
}